IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'MyPersonalAccountsManager')
DROP DATABASE [MyPersonalAccountsManager]
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'MyPersonalAccountsManager')
BEGIN
CREATE DATABASE [MyPersonalAccountsManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyPersonalAccountsManager', FILENAME = N'D:\SQL_DATA\MSSQL12.SQLEXPRESS\MSSQL\DATA\MyPersonalAccountsManager.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyPersonalAccountsManager_log', FILENAME = N'D:\SQL_DATA\MSSQL12.SQLEXPRESS\MSSQL\DATA\MyPersonalAccountsManager_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyPersonalAccountsManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
