<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLConnectionString" value="Initial Catalog=MyPersonalAccountsManager;Data Source=DESKTOP-U9RQHQP\SQLEXPRESS;Password=mpam;User Id=mpam;"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="com.techphernalia.MyPersonalAccounts.Controller.ApplicationController" behaviorConfiguration="ControllerBehavior">
        <endpoint contract="com.techphernalia.MyPersonalAccounts.Model.IApplicationController" binding="netTcpBinding" address="tcp" />
        <!-- <endpoint contract="WCF_Contract_1.IDemoService" binding="basicHttpBinding" address="" /> -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1001/" />
            <!-- <add baseAddress="http://localhost:1002/" /> -->
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ControllerBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>