<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ApplicationController_net" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1001/tcp" binding="netTcpBinding"
          bindingConfiguration="ApplicationController_net" contract="com.techphernalia.MyPersonalAccounts.Model.IApplicationController"
          name="ApplicationController_net">
        <!--        <identity>
          <userPrincipalName value="RICHA-PC\Richa" />
        </identity>-->
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>